.comment-section{
    /* border: 1px solid grey; */
    /* display: flex; */
    width: 72%;
    margin-left: 14%;
    margin-top: 1%;
    /* align-items: flex-start; */
}
.Line{
    border: 1px solid rgb(210, 210, 210);
    /* background-color: red; */
    /* width: 10px; */
}